/*Pagina principal de estilización para la pagina de "My Progress", en este se va a exponer el contenido principal de la pagina inicial, proyectos y sobre mi además de las diferentes transiciones y animaciones de esta.*/

/*Clases generales del contenido principal*/
.secciones{
    height: 30vh;
    overflow: Hidden;

}
.contenidoPrincipal{

    width: 100%;
    height: 70vh;
    background-color: black;
}
.cajaDeSecciones{

    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: flex-end;
}
.titulo{
    font-size: 1.8rem;
    color: White;
}
.lineaTitulos{
    width: 100%;
    height: 2px;
    background-color: white;
}
.texto{

    text-align: justify;
    color: white;
    font-size: 1.3rem;
}

/*Variables de las clases generales*/
.linea-2{
    width: 77%;
}
.linea-3{
    width: 70%;
}

 /*Contenido principal de MyProgress del apartado de proyrctos*/

.mainInicio1{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 5px 5px;
 }

/*Contenido principal de MyProgress del apartado de proyectos*/
.mainProyectos{
    width: 100%;
    height: 60vh;
}
.contenedorProyectos{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    row-gap: 20px;

}
.proyecto{
    width: 150px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 5px;
    transition: .5s ease-in-out;

}
.proyectoVistaPrevia{
    width: 100%;
    height: 80%;
    background-color: black;
    border-radius: 5px;
}
.proyectoLink{

    width: 100%;
    height: 20%;
    background-color: black;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .5s ease-in-out;

}

.proyecto:hover{

    transform: scale(1.1);
}
.proyecto:hover .proyectoLink{

    background-color: blue;
    color: white;
}

/*Apartado de Responsive Design de la pagina MyProgress*/

/*1- Apartado Inicio*/
 
@media screen and (max-width: 1306px){

    .mainInicio1{
        height: 120vh;
    }
    .secciones{
        padding: 0;
        margin: 0;
        height: 40vh;
    }
    .titulo{
        font-size: 1.6rem;
    }
    .lineaTitulos{
        width: 70%;
    }
    .primeraLinea{
        width: 80%;
    }
    .linea-3{
      width:60%;  
    }
} 
@media screen and (max-width: 620px){

    .mainInicio1{
        height: 175vh;
    }
    .secciones{
        padding: 5px 5px;
        margin: 0;
        height: 58vh;
    }
    .titulo{
        font-size: 1.6rem;
    }
    .lineaTitulos{
        width: 70%;
    }
    .primeraLinea{
        width: 80%;
    }
    .linea-3{
      width:60%;  
    }
    .texto{
        font-size: 1rem;
    }
} 

/*2- Apartado proyectos*/

@media screen and (max-width: 1306px) {
    
    .mainProyectos{
        
        height: 100vh;
    }
}
@media screen and (max-width: 970px) {
    
    .mainProyectos{
        
        height: 130vh;
    }
}
@media screen and (max-width: 650px) {
    
    .mainProyectos{
        
        height: 165vh;
    }
}
@media screen and (max-width: 500px) {
    
    .mainProyectos{
        
        height: 220vh;
    }
}
